<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
  <form method="get">
        <input type="text" name="qidiruv">
        <button>Qidirish</button>
    </form>
    <br>
    <br>
    <h1> Barcha yonalishlar :</h1>
    <br>
    {% for yonalish in yonalishlar %}
    <h3> <a href="/yonalish_ozgartir/{{yonalish.id}}/">{{yonalish.nom}}</a ></h3>
  <a href = /yonalish_ochirish/{{yonalish.id}}/><button> O'chirish </button> </a>
    {% endfor %}
    <br>
    <br>
    <form method="post">{% csrf_token %}
        {{forma}}
<!--        <input type="text" name="n" placeholder="Nom">-->
     <button type ="submit" > Qo'shish </button>
    </form>
</body>
</html>